
.home{
	
	background: url("img/pkk2.png") no-repeat;
	background-size:  100% 100%;
}
.about{
	min-height: 100%;
	background: url('img/img-about.jpg') no-repeat;
	background-size:  100% 100%;
	background-color: yellow;
}
.home,.gallery,.Contact{
	min-height: 100%;
	background-color: green;
	
}
h1{text-align: center;
}
.home h1{
	text-align: center;
	color:red ;
	font-size: 45px;
}
 .home a{
	text-decoration: none;
	display: block;
}
.home nav {

	position: absolute;
	left:35px; ;bottom: 50px;
	font-size: 30px;
}
.home nav a{
	margin-top: 5px; 
	padding: 10px;
}
.home nav a:hover{font-size: 35px;background-color: #08FF00}
.home a:hover{
		background-color: yellow;
}
.about p{color:#F7EF07;
	font-size: 25px;
}
.about span{color:#07F7E4}
.about-img{
    border-radius:50%;
    height:63%; width:40%;
    float:right;
}
.grid{

	font-size: 20px;
	display: flex;
  	flex-direction: row;
	height:auto;width: 80%; 	 
}
.grid p{color: #2FFB06;}
.col-1{border-radius: 20px;
	padding: 20px;

	width: 40%
}
.col-2{border-radius: 20px;
	float: right;
	width: 40%
}
.col-ins{font-family: cursive;;background-color: #EBF466 ;border-radius: 20px;text-align: center;}
.col-ins:hover{background-color: #0160FC;color: yellow;}
.up-icon{
	position:absolute;
	bottom: 95px;right: 30px;float: right;
	animation: tp 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	animation-duration: 0.9s;
}
@keyframes tp{
	 0%  {bottom: 15px;}
  25%   {bottom: 20px;}
  50%   {bottom: 25px;}
  75%   {bottom: 15px;}
  100%  {bottom: 15px;}
}

@media only screen and (max-width: 600px) {
	.home nav,.about img{display: none;}
	.grid{width: 100%;height: auto;margin:0px;}
	.col-1,.col-2{
		width: 50%
	}
	.gallery img{height: 250px;width: 1000px}
	.form{
		width: 100%;margin-left:0px	;
	}
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  
  flex: 25%;
  max-width: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.contact{
	background:url('img/img-contact.jpg') no-repeat; 
	background-size:  100% 100%;
}
.form{
	width: 60%
	height:auto;
	font-size: 25px;
	margin-left: 20%;
}
.contact img{
	width: 100px;
	height: 100px;
	
}
input{}
.form{color: yellow;

}
